.creative-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.creative-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.creative-buttons button {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 8px 16px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s ease, color 0.2s ease;
}

.creative-buttons button.active {
  background: white;
  color: rgb(104, 145, 179);
}

.creative-gallery {
  flex: 1;
  overflow-y: auto;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.creative-gallery::-webkit-scrollbar {
  display: none;
}

.creative-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.image-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.60);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-overlay img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
}