.about-layout {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 32px;
  padding: 20px;
  box-sizing: border-box;
}

.about-image {
  flex: 0 0 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.about-text-scroll {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;

  scrollbar-width: none;
  -ms-overflow-style: none;
}

.about-text {
  color: white;
  text-align: left;
}

@media (max-width: 768px) {
  .about-layout {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .about-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .about-text {
    width: 100%;
    color: white;
    text-align: left;
  }
}